<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd
		   http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<context:component-scan base-package="hao.webapp.demo" 
		name-generator="hao.framework.core.HaoAnnotationBeanNameGenerator">
	</context:component-scan>
	
	<bean id="configurer" class="hao.framework.core.HaoProperty" lazy-init="false" >
		<property name="locations">
			<list>
				<value>WEB-INF/classes/db.properties</value>
				<value>WEB-INF/classes/system.properties</value>
				<value>WEB-INF/classes/generation.properties</value>
			</list>
		</property>
	</bean>

	<bean class="hao.framework.core.SpringContext"  />
	
	<import resource="spring-ehcache.xml" />
	<import resource="spring-db.xml" />
	<import resource="spring-dao.xml" />
	<import resource="spring-shiro.xml" />
	<import resource="spring-transaction.xml" />

</beans>
